<div class="main-container">
    <div class="search-container">
        <h1>Buscar guias de tramite</h1>
        <p>Accede a numerosas guias para realizar tu tramite</p>
        <form class="search-form" (keydown.enter)="search()">
            <input placeholder="Buscar por palabra que haga referencia" [(ngModel)]="searchValue" name="search" class="search-input" />
            <button mat-button *ngIf="searchValue" matSuffix mat-icon-button aria-label="Clear" (click)="searchValue=''">
                    <mat-icon class="search-icon">close</mat-icon>
                </button>
            <button mat-raised-button (click)="search()" class="search-btn">Buscar</button>
        </form>
    </div>
    <div class="img-container">
        <img class="img" src="../../../assets/img/undraw_setup_wizard_r6mr.svg" alt="setup-guide-img">
    </div>
</div>