<div class="container">
    <div class="toolbar-container">
        <mat-toolbar class="toolbar" #toolbar>
            <mat-toolbar-row class="toolbar-row">
                <!--<img src="../../../assets/img/DATT.png" class="datt-logo">-->
                <div class="titulo-container">
                    <span class="titulo">Guias de tramites</span>
                    <span class="subtitulo">Transito de Cartagena</span>
                </div>
            </mat-toolbar-row>
        </mat-toolbar>
    </div>
    <div class="content-container">
        <router-outlet></router-outlet>
    </div>
</div>