<!-- <mat-card class="guia-card" (click)="showDetails()">
    <mat-card-header>
        <mat-card-title>{{guia.titulo}}</mat-card-title>
        <img mat-card-avatar [src]="guia.tipo.icono.rutaDeDescarga" [alt]="guia.tipo.nombre">
        <mat-card-subtitle class="guia-subtitulo">{{guia.tipo.nombre}}</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
        <div [innerHTML]="descripcionComoHTML(guia.descripcion)"></div>
    </mat-card-content>
</mat-card> -->

<div class="guia-card" (click)="showDetails()">
    <div class="guia-card-content">
        <h3 class="guia-card-title">{{guia.titulo}}</h3>
        <div class="guia-card-subtitle">
            <div *ngFor="let puntoAtencion of guia.puntosDeAtencion" class="tipo-chip" [style.background-color]="colorSecundario">{{puntoAtencion.nombre}}
            </div>
        </div>
        <p class="guia-card-descripcion" [innerHTML]="descripcionComoHTML(guia.descripcion)"></p>
    </div>
    <div class="guia-card-categoria">
        <img [src]="guia.tipo.icono.rutaDeDescarga" class="icono-categoria" alt="guia.tipo.nombre">
    </div>
</div>
<mat-divider></mat-divider>